@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    @apply overflow-x-hidden;
}

.plus-jakarta-sans-font {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200 to 800;
    font-style: normal;
  }

body{
    line-height: 1.6;
    @apply text-neutral-600;
}
h1,h2,h3,h4{
    line-height:1.2;
    font-weight: 700;
}
h1{
    font-size: 3.815rem;
}
h2{
    font-size: 3.052rem;
}
h3{
    font-size:2.441rem ;
}
h4{
    font-size: 1.953rem;
}
h5{
    font-size: 1.563rem;
}
h6{
    font-size: 1.25rem;
}
p{
    font-size: 1rem;
    margin-bottom:30px;
}
small{
    font-size: 0.8rem;
}
.ls{
    letter-spacing: 10px;
}


    .gdc_row {
        @apply flex flex-col lg:flex-row flex-wrap gap-8;
    }
    .gdc_chalf {
        @apply w-full lg:w-1/2
    }
.btn{
    @apply py-2.5 px-6 rounded-lg bg-primary-600 text-white hover:bg-secondary-200 hover:shadow-2xl hover:text-secondary-900 duration-200 
}